.lionwheel-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    padding: 0 10px 0;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    border: none;
    outline: none;
}

.lionwheel-open-button, .lionwheel-reopen-ship {
    background: #ff8e15;
}
.lionwheel-open-button:hover, .lionwheel-reopen-ship:hover {
    background: #c95f17;
}

#lionwheel_checkbox, #lionwheel_collect, #lionwheel_motor, #lionwheel_packages, #lionwheel_exaction_date {
    margin-bottom: 15px;
}
#lionwheel_collect {
    width: 50px;
}
#lionwheel_packages {
    width: 50px;
}

.lionwheel_loader {
    width: 50px;
    margin: 0 auto;
    display: block;
}
.lionwheel-print-button {
    background: #008000;
}
.lionwheel-print-button:hover {
    background: #005200;
    color: #FFFFFF;
}
.lionwheel-print-button:visited {
    color: #FFFFFF;
}

.lionwheel-success-ship {
    display: none;
}
.lionwheel-success-ship-number {
    color: green;
    margin-left: 5px;
    margin-right: 5px;
}
.lionwheel_exist_details {
    display: none;
}
#lionwheel_ship_exists span {
    margin: 5px;
    color: green;
}
.lionwheel_error_message {
    color: #ff0006;
}
.lionwheel-cancel-ship {
    background: #ff0006;
}
.lionwheel-cancel-ship:hover {
    background: #a10006;
}

.lionwheel-button-container {
    text-align: center;
}
.lionwheel-button-container-open {
    text-align: center;
}

.lionwheel-powered-by {
    direction: ltr;
    text-align: center;
    margin-top: 15px;
}

.lionwheel-powered-by span {
    font-size: 13px;
    color: #1a1a1a !important;
}

.lionwheel-powered-by img {
    height: 20px;
    vertical-align: middle;
}
div#TB_ajaxContent {
    text-align: right;
}
.ship_status {
    background-color: orange;
}